.button{
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    color: $color-white;
    border-radius: 25px;
    padding: 15px 35px;
    margin: 5px;
    background-color: $color-red;
    @include animated;
    border: none;
    line-height: 1em;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 0 3px $color-red;
        background: transparent;
    }
    &__gray{
        background-color: $color-button-gray-background;
        color: $color-button-gray-text;
        &:hover{
            box-shadow: 0 0 0 3px $color-button-gray-background;
        }
    }
}