$color-background: #161616;
$color-red: #c52f36;
$color-gray: #4f4f4f;
$color-social-text: #888888;
$color-social-background: #292929;

$color-button-background: #c52f36;
$color-button-text: #fff;
$color-button-gray-background: #888888;
$color-button-gray-text: #fff;

$color-titles: #555555;

$color-white: #ffffff;
$color-black: #000000;